body {
	margin: 0;
	pading: 0;
	text-align: left;
	font-family: Arial, sans-serif, Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.5;
	color: black;
	background-image: url(img/bg.png);
}

.node {
	width: 70px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
}

.mover {
	border: 1px solid #ddd;
	background-color: #ddd;
}

.selected {
	background-color: #ddd;
}

.state {
	
}

#myflow_tools{
	position: fixed; top: 10px; left: 30px; background-color: #fff; width: 70px; cursor: default; padding: 3px;
}

#myflow_props{
	position: fixed; top: 30; right: 50; background-color: #fff; width: 220px; padding: 3px;
}
#myflow_props table {
	
}

#myflow_props th {
	letter-spacing: 2px;
	text-align: left;
	padding: 6px;
	background: #ddd;
}

#myflow_props td {
	background: #fff;
	padding: 6px;
}

#task,#state,#path,#pointer  {
	background: no-repeat center;
}

path[stroke="#ffffff"]{
	visibility:hidden;
	pointer-events: stroke;
}